!!! 5

%html{:lang =>"en", :itemscope => true, :itemtype => "http://schema.org/Person"}
  %head
    %meta{:charset =>"utf-8"}
    %title William Youmans | #{@item[:browser_title]}

    / Meta Tags
    %meta{:name => "keywords", :content => "William Youmans, Salt Lake City, Utah, Web Development, Design, CSS, HTML, PHP, Ruby, Nanoc, freelance, photoshop"}
    %meta{:name => "description", :content => @item[:meta_description]}
    %meta{:name => "author", :content => "William Youmans"}
    %meta{:name => "ROBOTS", :content => "ALL"}
    %meta{:name => "google-site-verification", :content => "Muk7w0OzK25unpvJS-Zu6SVz9d6nMMmvDeDm7aVeeCI"}

    / Favicon
    %link{:rel => "shortcut icon", :href => "/images/favicon.ico"}

    / Stylesheets
    %link{:rel => "stylesheet", :type =>"text/css", :href => "/styles/screen.css#{getTimestampQueryString}", :media =>"all"}

    / Scripts
    %script{:src => "/scripts/jquery.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src => "/scripts/jqueryui.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src => "/scripts/modernizr.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src => "/scripts/livequery.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src => "/scripts/history.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src => "/scripts/tipsy.js", :type => "text/javascript", :charset => "utf-8"}
    %script{:src => "/scripts/custom.js#{getTimestampQueryString}", :type => "text/javascript", :charset => "utf-8"}
    - if isProduction
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-11130262-4']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();

  %body{:class => @item[:url]}

    %header.container_24

      / Text logo for SEO cred
      %a.logo{:href => "/", :data => {:url => "index"}}
        %span{:itemprop => "name"} William Youmans<br>
        %span.subheading web developer &ndash; world traveler
        %img{:src => "/images/template/william.jpg", :itemprop => "image", :class => "hidden"}

      / Can I get some navigation up in here?
      %nav#navigation
        %ul
          %li.index
            %a{:href => "/", :data => {:url => "index"}}
              Home
          %li.photos
            %a{:href => "/photos/", :data => {:url => "photos"}}
              Photos
          %li.portfolio
            %a{:href => "/portfolio/", :data => {:url => "portfolio"}}
              Portfolio
          %li.blog
            %a{:href => "/blog/", :data => {:url => "blog"}}
              Blog
          %li.contact
            %a{:href => "/contact/", :data => {:url => "contact"}}
              Contact

    / Main Content
    #content.container_24

      / To be updated via Ajax on history.pushState()
      #content_ajax
        = yield
      .clear

    / Delicious Footer
    %footer.container_24
      %a.grid_1{:href => "http://www.facebook.com/wyoumans", :target => "_blank", :class => "icon facebook", :title => "Facebook"}
      %a.grid_1{:href => "http://www.last.fm/user/gotwilly/", :target => "_blank", :class => "icon lastfm", :title => "LastFM"}
      %a.grid_1{:href => "http://www.github.com/klanoma", :target => "_blank", :class => "icon github", :title => "Github"}
      .copyright.grid_6.prefix_15 &copy;#{getCurrentYear} William Youmans
      .clear
